
<div class="container text-center coach-form">
  <!--<div class="row">-->
    <!--<div class="col-sm-4">-->
      <form action="/answer" method="get">
        <div class="form-group">
          <label for="question">Speak to your coach</label>
          <input type="text" id="question" name="question" placeholder="what time is it?">
          <input type="submit" class="form-control" value="Go on!">
        </div>
      </form>
    <!--</div>-->
  <!--</div>-->
</div>
